<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
  </head>
  {% block style %}

  {% endblock %}
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Chat</a>
            </li>
          </ul>
          <div class="d-flex" role="search">
            {% if request.user.is_authenticated %}
              <a href="/logout" class="btn btn-outline-success">Logout</a>
            {% else %}
              <a href="/login" class="btn btn-outline-success">Login</a>
              <a href="/signup" class="btn btn-outline-success">Signup</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <div class="container mt-3">
      {% block content %}

      {% endblock %}
    </div>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}" ></script>
    {% block script %}

    {% endblock %}
  </body>
</html>
